%main.content-wrapper
  %h1= t('about.title')
  %p= t('about.welcome')
  
  %h2= t('about.who_am_i')
  %p= t('about.who_am_i_text')
  
  %h2= t('about.project_purpose')
  %p= t('about.project_purpose_text')
  
  %h2= t('about.contacts')
  %p= t('about.contacts_text', email: 'ilya.voitenko@example.com')

  %div.content-filler