%main.content-wrapper

  %div.table

  :javascript
    const columnHeaders = {
      name: "#{t('results.list.name')}",
      image: "#{t('results.list.image')}",
      theme: "#{t('results.list.theme')}",
      userValue: "#{t('results.list.user_value')}",
      avgScore: "#{t('results.list.avg_score')}"
    };

    fetch('/results_list', {
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
      }
    }).then(res => res.json()).then((images) => {
      let result = ` <div class="image title">
          <span class="name">${columnHeaders.name}</span>
          <span class="name">${columnHeaders.image}</span>
          <span class="name">${columnHeaders.theme}</span>
          <span class="name">${columnHeaders.userValue}</span>
          <span class="name">${columnHeaders.avgScore}</span>
        </div>`

      const table = document.querySelector('.table')
      console.log(images)

      for (image of images){
        result += `<div class="image">
          <span class="name">${image.name}</span>
          <img src=${image.file} class="img">
          <span class="name">${image.theme}</span>
          <span class="name">${image.userValue}</span>
          <span class="name">${image.imageAvgValue}</span>
        </div>`
      }

      table.innerHTML = result;
    })

  %div.content-filler